body {
    /* background: linear-gradient(#326b96,#2c3459); */
    /* background: linear-gradient(#94c6eb,#7485c2); */
    /* background: linear-gradient(#f08218,#7485c2); */
    /* background: linear-gradient(#f08218,#7485c2); */

    /* background: linear-gradient(#326b96,#7d1959); */
    /* background: linear-gradient(#454b65,#803966); */
    /* background: linear-gradient(#803966, #454b65); */

    background-color: #454b65;
    /* height: 100%; */


    color: #202020;
    font-size: 18px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: sans;
}

#tab-view {
    max-width: 80em;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background: #f6f6f6;
}

#tab-view ol {
    display: table;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-size: 15px; */
    /* border-top: 1px solid rgba(255, 255, 255, 0.4); */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.4); */
}

.tab {
    display: table-row;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}


.tab-title {
    display: table-cell;
    white-space: nowrap;
    line-height: 1.5em;
    padding: 0.3em 0px;
    width: 99%;
    vertical-align: top;
}

.hostname {
    /* opacity: 0.7; */
    margin-right: 0.5em;
}

.title {
    /* opacity: 0.7; */
    font-weight: bold;
}

.tab:hover {
     background-color: #d9e1eb;
}

.tab.selected {
     background-color: #b6d2f7;
     /* background-color: #aab5e7; */
     /* background-color: #f0c9a3; */
}

.tab-icon-wrap {
    display: table-cell;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 0px;
}

.tab-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
}

.highlight {
    color: #cb166f;
    /* color: #f08218; */
}

.tab:hover .tab-close-button {
    visibility: visible;
}


.tab-close-button:hover {
    opacity: 1.0;
    color: #f55600;
}

.tab-close-button {
    display: table-cell;
    min-width: 30px;
    text-align: center;
    margin-right: 10px;
    visibility: hidden;
    opacity: 0.5;
    color: white;
    white-space: nowrap;
}

input:focus {
    outline: none;
}

#tab-search {
    width: 100%;
    /* padding: 5px; */
    /* margin-bottom: 10px; */
    border: 0px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-size: 14px; */
    color: #ffffff;
    /* background-color: black; */
    background-color: #454b65;
    box-sizing: border-box;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 50px;

    font-size: 1em;
}

#logo {
    /* cursor: pointer;
    position: absolute; */
    z-index: -1;
    left: 30px;
    top: 30px;

    width: 200px;
    height: 200px;

    background-image: url(hummingbird-flaps.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position-x: 0%;
    width: 120px;
    height: 120px;
    z-index: 2;
}

#logo:hover {
    background-position-x: 100%;
    border: none;
}

.hi {
    color: red;
}
