body {
    background-color: #454b65;
    color: #202020;
    font-size: 18px;
    font-family: sans;
    color: #eeeeee;
}

body a {
    color: #ffffff;
    text-decoration: none;
}



#tab-view {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
}

#tab-search {
    width: 100%;
    border: 0px;
    background-color: #454b65;
    color: #ffffff;
    box-sizing: border-box;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 50px;
    font-size: 1em;
}

input:focus {
    outline: none;
}

#tab-view ol {
    display: table;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.tab {
    display: table-row;
    background: #f6f6f6;
    cursor: pointer;
    overflow: hidden;
    color: #111111;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.tab-title {
    display: table-cell;
    white-space: nowrap;
    line-height: 1.5em;
    padding: 0.3em 0px;
    width: 99%;
    vertical-align: top;
}

.tab:hover {
     background-color: #d9e1eb;
}

.tab.selected {
     background-color: #b6d2f7;
}

.hostname {
    margin-right: 0.5em;
}

.title {
    font-weight: bold;
}

.hi {
    background-color: rgba(245, 189, 23, 0.68);
}

.tab-icon-wrap {
    display: table-cell;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 0px;
}

.tab-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
}

.quick-help {
    font-size: 0.9em;
    text-align: right;
    margin-top: 0.5em;
}

.quick-help a {
    border-bottom: 1px solid white;
}

.help {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;

}


.footer {
    margin-top: 1em;
    margin-bottom: 2em;
    height: 32px;
    z-index: -1;
    text-align: right;
    right: 0px;
    bottom: 0px;
    font-size: 20px;
    line-height: 32px;
}

.footer a {
    opacity: 0.5;
    text-decoration: none;
}

.footer a:hover {
    opacity: 1.0;
}

#logo {
    position: relative;
    top: 25%;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
